{% extends 'layout.html' %}
{% block body %}
      <h1>Index USUARIO</h1>
      <section class="content">
          <div class="box box-primary">
              <div class="box-header">
                  <a href="/usuario/add/">
                    <center> 
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Nuevo usuario
                        </button>
                    </center>
                    </a>
              </div>
              <div class="box-body">
                  <table id="dataphone" class="table table-border table-striped">
                      <head align="center">
                          <tr>
                              <th>Nombre</th>
                              <th>Teléfono</th>
                              <th>Email</th>
                              <th>Acción</th>
                          </tr>
                      </head>
                      <body>
                          {% if usuarios|length== 0 %}
                          <tr>
                            <td>Sin datos</td>
                            <td></td>
                            <td></td>
                            <td></td>
                          {% else %}
                          
                          {% for u in usuarios %}
                          
                          <tr>
                            <td>{{ u[1] }}</td>
                            <td>{{ u[2] }}</td>
                            <td>{{ u[3] }}</td>
                            <th align="center">
                                <a href="/usuario/update/{{ u[0] }}">
                                    <button type="button" class="btn btn-sm btn-warning btn-flat" title="update">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </a>
                                <a href="/usuario/delete/{{ u[0] }}">
                                    <button type="button" class="btn btn-sm btn-warning btn-flat" title="delete">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </a>
                            </th>
                          </tr>
                          {% endfor%}
                          {% endif %}
                      </body>
                  </table>
              </div>
          </div>
      </section>
{% endblock %}